<!DOCTYPE HTML>
<html>
<head>
	<title><%= title %></title>
</head>
<body>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/users">Users</a></li>
			<li><a href="/random">Random</a></li>
		</ul>
	</nav>